* {
  box-sizing: border-box;
}

body {
  font-family: "CustomFont", cursive, sans-serif;
  color: #8c5b4a;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}