@font-face {
  font-family: "CantikaCute";
  src: url("../../public/assets/fonts/Cantika Cute Handwriting.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CantikaCute", cursive, sans-serif;
  color: #8c5b4a;
  background-color: #ffffff;
  background-image: url("../../public/assets/backgrounds/default-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}